.font_large {
	font-size: large;
	font-weight: bold;
	margin-left: 20%;
}

th {
	font-size: x-large;
}

body {
	font-family: 'Lato', sans-serif;
}

p {
	margin: 3px;
}

hr {
	margin-top: 20px;
	border: 0px;
	height: 1px;
	background-color: black;
	background-image: linear-gradient(to right, white, black, white);
}

.float_center {
	margin-left: 20%;
}

.float_left {
	text-align: left;
}

.float_right {
	text-align: right;
}

.pagename {
	margin: 5px;
}

.left_border_color {
	border-left: grey solid 6px;
	padding: 10px;
}

.resumesize {
	border: darkgrey solid 10px;
	margin-left: 20%;
	margin-right: 20%;
	padding: 10px;
	min-width: 500px;
}

.navheader {
	background-color: #699ff5;
	width: 100%;
	margin-bottom: 10px;
}

.sudobuttons {
	padding: 5px;
	border: 1.5px solid black;
	background-color: white;
	display: inline-block;
	margin: 5px;
}

.linkremove {
	text-decoration: none;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	margin-left: 75px;
	margin-right: 75px;
	margin-bottom: 40px;
}

.card:hover {
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
}

.img_constraint {
	width: 300px;
	height: 200px;
}

.container {
	width: 200px;
	height: 150px;
	padding-left: 15%;
	padding-right: 0;
	padding-top: 10px;
	padding-bottom: 25%;
}

@media only screen and (max-width: 1800px) {
	.compress {
		margin-left: auto;
		margin-right: auto;
		display: inline-block;
	}
}

#resumesList {
	margin-bottom: 50px;
	text-align: center;
}


/*replaced .sign_up_box with this*/
footer form {
	width: 200px;
	margin-top: 2%;
	padding: 25px;
}

/*adjacent selectors remove need for navfooter class*/
table + footer {
	background-color: #699ff5;
	margin: 10px 0px 0px 0px;
}

div + footer {
	background-color: #699ff5;
	margin: 10px 0px 0px 0px;
}






#referenceName {
	font-size: large;
	font-weight: bold;
	margin-bottom: 50%;
}


